.topbar {
	background-color: #D63333;
	height: 350px;
	text-align: center;
	width: 100%;
}

h1 {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 2px 2px grey;
	font-size: 50px;
}

h2 {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 2px 2px grey;
	font-size: 100px;
	float: left;

}

hr { 
    width: 90%;
    height: 2px; 
    background-color: #aaa;
    margin: -15px 0 0 150px;
    border: none;
}

h3 {
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
    padding-top: 100px;
    padding-left: 150px;
	text-shadow: 0.5px 0.5px grey;
}

h4 {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

h5 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-left: 250px;
    padding-right: 250px;
    
}

h6 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-left: 300px;
    padding-right: 250px;
    margin: auto;
    
}


p {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-left: 150px;
    padding-right: 150px;
    
    
}

b {
    font-weight: 700;
}


.symbol {
	height: 30px;
	width: 90px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.spacer {
	height: 75px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

