.topbar {
	background-color: red;
	height: 300px;
	text-align: center;
	width: 100%;
}

h1 {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 2px 2px grey;
	font-size: 50px;
}

h2 {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 2px 2px grey;
	font-size: 50px;
	float: left;

}

h3 {
	color: grey;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
    padding-top: 100px;
    padding-left: 150px;
	text-shadow: 2px 2px black;
}

h5 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-left: 250px;
    padding-right: 250px;
    
}

h6 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-left: 300px;
    padding-right: 250px;
    margin: auto;
    
}


p {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding-left: 150px;
    padding-right: 150px;
    
}

b {
    font-weight: 700;
}

img {
    padding-left: 100px;
    padding-right: 100px;
    margin:auto;
}
    
.symbol {
	height: 30px;
	width: 90px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.spacer {
	height: 75px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.container{
	float: left;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 2px 2px grey;
	font-size: 50px;
	text-align: center;
}

.bracket {
	
	font-size: 70px;
	left: 30px;
}

.big {
	position: relative;
	top: 100px;
	float:left;
	font-size: 70px;
	left: 30px;
}

.container{
    height: 100px;
    width: 400px;
    border-style: dashed;
    margin-left: auto;
    margin-right: auto;
    
}

.sym-top {
	height: 30px;
	width: 30px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
.sym-bot {
	height: 30px;
	width: 30px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}
